 /* Add custom CSS to control dropdown positioning */
.field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.field label {
  margin-right: 10px;
}

.field .select {
  width: 100%;
  position: relative; /* Ensure relative positioning for dropdown container */
}

.field .select select {
  width: 100%;
  padding-right: 25px; /* Create space for the arrow */
}

.field .select::after {
  content: '\25BC'; /* Unicode arrow character */
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow doesn't interfere with the select element */
}

.result-button {
  width: 80px; /* Adjust the width as needed */
}

.char-count {
  position: absolute;
  top: 0; /* Align vertically with the label */
  right: 0; /* Align to the right */
  color: #888; 
}

/* Style the dropdown list */
ul {
  width: 100%;
  overflow-y: auto;
  border: 1px solid #dbdbdb; /* Match the border color of select elements */
  border-radius : 10px;
}

ul li {
  padding: 8px; /* Match the padding of select options */
  cursor: pointer;
  color: #363636; /* Match the color of select options */
}

.required-field {
  border: 1px solid red;
}
